<%- include ('../header/header.ejs') %>

<div class='center'>
  <h3>Welcome <%= account.owner.firstName %>, here is your detailed account information</h3>
  <table class='pure-table pure-table-bordered'>
    <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>CPR</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= account.username %> </td>
        <td> <%= account.owner.firstName %> </td>
        <td> <%= account.owner.lastName %> </td>
        <td> <%= account.owner.cpr %> </td>
        <td> <%= account.owner.email %> </td>
      </tr>
    </tbody>
  </table>
</div>

<%- include ('../footer/footer.ejs') %>